# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

# Virtual Environment
fresh_venv/
venv/
ENV/

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
*.bak
*.swp
*~
.DS_Store  # macOS specific

# IDE specific files
.idea/
*.sublime-project
*.sublime-workspace
.project
.pydevproject

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover